<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= students_path %>">Estudantes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= courses_path %>">Cursos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= tallent_index_path %>">Estudantes com perfil público</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= mannager_tallent_index_path %>">Estudantes com perfil privado</a>
  </li>
</ul>